<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlexBox Demo</title>
  <style>
    #a{
      background-color: rgb(255, 0, 0);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid black ;
    }
    #b{
      background-color: rgb(255, 196, 3);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid black ;
    }
    #c{
      background-color: rgb(137, 230, 32);
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 3px solid black ;
    }
    .special-layout{
      margin: 20px 400px;
      background-color: rgb(162, 163, 161);
      height: 500px;
      width: 200px;
      border: 4px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  </style>

</head>
<body>
  <a href="/">Echa patras bro</a>
  <h1><center>SEMAFORO</center></h1>
  <div class="special-layout">
  <div id="a"></div>
  <div id="b"></div>
  <div id="c"></div>
</div>
</body>
</html>